<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="/estilos.css">
    </head>
    <body>
<h1><a href="/"><img src="/images/Logo1.png" alt="jobify"></a></h1>
<p>We are jobify-join us!</p>